@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&family=Oswald:wght@300&display=swap");

main {
	background: #0f0c29; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#24243e,
		#302b63,
		#0f0c29
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#24243e,
		#302b63,
		#0f0c29
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.correctResult {
	border: 15px solid greenyellow;
	z-index: 2;
}

.wrongResult {
	border: 15px solid red;
	z-index: 2;
}

.option:hover {
	background: #f0ad4e;
}

.container {
	height: 100vh;
}

.kbc {
	margin-top: 10vh;
	font-family: "Merriweather Sans", sans-serif;
}

.score-board {
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
	backdrop-filter: blur(10rem);
}

.score {
	font-family: "Orbitron", sans-serif;
}

.score-display {
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
	);
}

.final-section {
	background: #b993d6;
	background: -webkit-linear-gradient(to right, #8ca6db, #b993d6);
	background: linear-gradient(to right, #8ca6db, #b993d6);

	height: 100vh;
	width: 100vw;
}

.continue {
	position: absolute;
	bottom: 2px;
	font-size: large;
}

.continue:hover {
	font-size: x-large;
	color: white;
}
